# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
logs/
cache_ratelimit/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Docker
*.override.yml
test_db.sqlite3
